<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location - Smart Vision</title>
    <link rel="shortcut icon" href="/frontend/static/imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/frontend\static\css\main.css">
</head>

<body>
    <header>
        <div class="nav" id="back">
            <img src="/frontend/static/imgs/logo.png" alt="">
            <ul>
                <a href="index.html">
                    <li>Home</li>
                </a>
                <a href="transmission.html">
                    <li>Transmission</li>
                </a>
                
                <a href="about.html">
                    <li>About Us</li>
                </a>
            </ul>
        </div>
    </header>

    <body>

    </body>
    <footer>

    </footer>
</body>

</html>